= simple_form_for(@office) do |f|
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :phone
    = f.input :image
    = image_tag @office.image.thumb if @office.image.present?

  .form-actions
    = f.button :submit
