#section-offices.container
  .title-page
    %h3= page_title!('LAIN - Sucursales')

  .section-offices
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + 'Office', new_office_path, class: 'btn btn-primary'

    - @offices.each do |office|
      .section-sedes
        .section-sed-img
          = image_tag office.image.listing
        .section-sed-info
          %h3
            = office.name
          %p
            = office.address
          %p
            Teléfono:
            = office.phone
          - if current_admin
            %td= link_to 'edit', edit_office_path(office), class: 'btn btn-info'
            %td= link_to 'delete', office, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'
    %br
    = paginate @offices
    %br

= render 'layouts/llama_ya'

= render 'layouts/categories'

= render 'layouts/footer'
