= form_for @blog, :html => { class: 'form-horizontal', role: 'form' } do |f|
  - if @blog.errors.any?
    #error_explanation
      %h2= I18n.t('form.errors', :count => @blog.errors.count)
      %ul
        - @blog.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label I18n.t('blogs.title'), class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label I18n.t('blogs.content'), class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :content, class: 'form-control'
  .actions
    = f.submit I18n.t('form.submit'), class: 'btn btnprimaryy'
