.container
  .container
    %h2 Sign in2
    %p
      fuuuuuuu
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        .form-control
          = f.input :email, required: false, autofocus: true
        .form-control
          = f.input :password, required: false
        .form-control
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Sign in"
    = render "users/shared/links"
