#section-<%= plural_table_name.downcase %>.container
  .title
    %h1= page_title!('<%= plural_table_name %>')

  .section
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + '<%= human_name %>', new_<%= singular_table_name %>_path, class: 'btn btn-primary'

    .table-responsive
      %table.table
        %tr
<% for attribute in attributes -%>
          %th <%= attribute.human_name %>
<% end -%>
          %th
          %th
          %th

        - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
          %tr
<% for attribute in attributes -%>
            %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
            %td= link_to 'crud.show', <%= singular_table_name %>, class: 'btn btn-default'
            - if current_admin
              %td= link_to 'crud.edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-info'
              %td= link_to 'crud.delete', <%= singular_table_name %>, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'
