= simple_form_for(@article) do |f|
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :title
    = f.input :content
    = f.input :image
    = image_tag @article.image.thumb if @article.image.present?

  .form-actions
    = f.button :submit
