#section-articles.container
  .title-page
    %h3= page_title!('LAIN-Blog')

  .section
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + 'Article', new_article_path, class: 'btn btn-primary'

  - @articles.each do |article|
    .section-articles
      .section-article-img
        %span
          = article.created_at.strftime('%m.%^b.%y')
        = image_tag article.image.listing, class: 'img-circle'
      .section-article-info
        %p
          = article.title
        %p
          = raw article.content(200)
        .btn-verde-2
          = link_to 'Leer más', article
      - if current_admin
        = link_to 'edit', edit_article_path(article), class: 'btn btn-info'
        = link_to 'delete', article, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'

%br
= paginate @articles
%br


= render 'layouts/llama_ya'

= render 'layouts/categories'

= render 'layouts/footer'
