#section-articles.container
  .title-page
    %h3= page_title!('Blog - ' + @article.title)

  .section-articles-show
    .section-art-show-image
      %p
        = image_tag @article.image.detail
    .section-art-show-info
      %p
        = @article.content

    .section
      - if current_admin
        .admin-controls
          = link_to 'crud.edit', edit_article_path(@article), class: 'btn btn-info'
  .clear
  .title-page
    %h3= page_title!('Comentar')
    = link_to 'Volver', articles_path, class: 'btn-back'
= render 'layouts/llama_ya' 

.container
  .section
    .section-images
      = image_tag(image_path('sec-img1.png'), class:'img-responsive')
      = image_tag(image_path('blog-img6.png'), class:'img-responsive')
      = image_tag(image_path('sec-img2.png'), class:'img-responsive')
      = image_tag(image_path('sec-img3.png'), class:'img-responsive')
      = image_tag(image_path('sec-img4.png'), class:'img-responsive')

= render 'layouts/footer'
