#section-banners.container
  .title
    %h1= page_title!('banners')

  .section
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + 'Banner', new_banner_path, class: 'btn btn-primary'

    .table-responsive
      %table.table
        %tr
          %th Name
          %th Location
          %th Image
          %th Link
          %th Country
          %th
          %th
          %th

        - @banners.each do |banner|
          %tr
            %td= banner.name
            %td= banner.location
            %td= image_tag banner.image.thumb
            %td= banner.link
            %td= banner.country_id
            %td= link_to 'crud.show', banner, class: 'btn btn-default'
            - if current_admin
              %td= link_to 'crud.edit', edit_banner_path(banner), class: 'btn btn-info'
              %td= link_to 'crud.delete', banner, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'

      %br
      = paginate @banners
      %br
