- page_title!('LAIN Lider Mundial en Adelgazamiento')
#section-index.section-total
  .container-fluid
    .container
      .social
        = image_tag(image_path('flag_' + params[:locale] + '.png'), width: "22px;")
        = link_to image_tag(image_path('facebook.png'), width: "12px;"), @country.facebook
        = link_to image_tag(image_path('youtube.png'), width: "22px;"), "https://www.youtube.com/channel/UCYgIEivJ2H5N4sQH2WY5i-g"
      .clear

      #carousel-principal.carousel.carousel-fade.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          - @larger_banners.each_with_index do |banner, index|
            - if index == 0
              %li.active{:'data-slide-to' => index, :'data-target' => '#carousel-principal'}
            - else
              %li{:'data-slide-to' => index, :'data-target' => '#carousel-principal'}


        .carousel-inner
          - @larger_banners.each_with_index do |banner, index|
            - if index == 0
              .item.active
                = image_tag banner.image.larger, class: 'img-responsive'
            - else
              .item
                = image_tag banner.image.larger, class: 'img-responsive'

      .section-info
        .section-contact
          = mail_to @country.email do
            = image_tag(image_path('mail.png'), class:'img-responsive')
            %span.mail-country
              = @country.email

        .section-contact
          #carousel-llamada.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              - @telefonos.each_with_index do |telefono, index|
                - if index == 0
                  .item.active
                    = image_tag(image_path('telefono.png'), class:'img-responsive')
                    .carousel-caption
                      %h3
                        = telefono.name
                      %p
                        = telefono.phone
                - else
                  .item
                    = image_tag(image_path('telefono.png'), class:'img-responsive')
                    .carousel-caption
                      %h3
                        = telefono.name
                      %p
                        = telefono.phone
      .clear
      - if I18n.locale == :pe
        .section
          .form-index
            = render 'inicio/free_call'

      .section
        .section-images
          = link_to products_path, class: 'section-img-prod' do
            %p
              Productos
          = link_to new_computest_path, class: 'section-img-compu' do
            %p
              Computest
          = link_to testimonies_path(type: 'video'), class: 'section-img-vid' do
            %p
              Videos
          = link_to testimonies_path(type: 'antesydespues'), class: 'section-img-foto' do
            %p
              Fotos

      .section
        %p.pink-text
          LAIN es un Centro Médico que realiza tratamientos contra la obesidad. Nuestros profesionales
          en adelgazamiento, utilizando avanzados y exclusivos tratamientos para bajar de peso,
          trabajan de manera muy estrecha con el paciente, disminuyendo las posibilidades de fracaso.

  .container-fluid.aqua
    .container
      .section-us
        .section-segments
          = link_to opportunities_path do
            %p
              Oportunidades
            .oportunidad
        .section-segments
          = link_to metodo_path do
            %p
              Método
            .metodo
        .section-segments
          = link_to lain_path do
            %p
              Nuestra Empresa
            .empresa
        .section-segments
          - if I18n.locale == :pe
            - link_address = 'http://www.summerkit.net/'
          - else
            - link_address = offices_path
          = link_to link_address do
            %p
              LAIN para provincias
            .provincia

  .container-fluid
    .container.section-blog-fb
      .section-blog
        %h4.title-head
          Blog - Últimas publicaciones
        %ul.media-list
          - @last_articles.each do |article|
            %li.media
              = link_to article, class: "pull-left" do
                .blog-img{:style => "background:url('#{article.image.listing}') no-repeat center center; background-size: contain; width: 90px; height: 90px;"}
                  .blog-date
                    = article.created_at.strftime('%m.%^b.%y')
                .media-body
                  %h4.media-heading
                    = article.title
                  = truncate_html(article.content, length: 200, omission: '...')
      .section-fb
        %h4.title-head
          Nuestros Seguidores
        #fb-root
        :javascript
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=171330932924716&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
        .fb-like-box{:'data-href' => @country.facebook, :'data-width' => '520px', :'data-colorscheme' => 'light', :'data-show-faces' => 'true', :'data-header' => 'false', :'data-stream' => 'false', :'data-show-border' => 'false'}

= render 'layouts/footer'
