#section-index.section-total
  .container-fluid
    .container
      .social
        = image_tag(image_path('flag_' + params[:locale] + '.png'), width: "22px;")
        = link_to image_tag(image_path('facebook.png'), width: "12px;"), "https://www.facebook.com/lain.adelgaza.peru"
        = link_to image_tag(image_path('youtube.png'), width: "22px;"), "https://www.youtube.com/channel/UCYgIEivJ2H5N4sQH2WY5i-g"
      .clear
      #carousel-principal.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          - @larger_banners.each_with_index do |banner, index|
            - if index == 0
              %li.active{:'data-slide-to' => index, :'data-target' => '#carousel-principal'}
            - else
              %li{:'data-slide-to' => index, :'data-target' => '#carousel-principal'}


        .carousel-inner
          - @larger_banners.each_with_index do |banner, index|
            - if index == 0
              .item.active
                = image_tag banner.image.larger, class: 'img-responsive'
            - else
              .item
                = image_tag banner.image.larger, class: 'img-responsive'


        -#.carousel-caption
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-principal", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-principal", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right

      .section-info
        .section-contact
          = mail_to 'contacto@lainadelgaza.net', image_tag(image_path('mail.png'), class:'img-responsive')

        .section-contact
          #carousel-llamada.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              - @telefonos.each_with_index do |telefono, index|
                - if index == 0
                  .item.active
                    = image_tag(image_path('telefono.png'), class:'img-responsive')
                    .carousel-caption
                      %h3
                        = telefono.name
                      %p
                        = telefono.phone
                - else
                  .item
                    = image_tag(image_path('telefono.png'), class:'img-responsive')
                    .carousel-caption
                      %h3
                        = telefono.name
                      %p
                        = telefono.phone

      .section
        .section-images
<<<<<<< HEAD
          = link_to '',lain_path, class: 'section-img-lain'
          = link_to '',products_path, class: 'section-img-prod'
          = link_to '',new_computest_path, class: 'section-img-compu'
          = link_to '',testimonies_path(type: 'video'), class: 'section-img-vid'
          = link_to '',testimonies_path(type: 'antesydespues'), class: 'section-img-foto'
=======

          .section-img-lain
            = link_to '',lain_path
          .section-img-prod
            = link_to '',products_path
          .section-img-compu
            = link_to '',new_computest_path
          .section-img-vid
            = link_to '',testimonies_path(type: 'video')
          .section-img-foto
            = link_to '',testimonies_path(type: 'antesydespues')
>>>>>>> 04bf80d7c90a0594def2328f9ba2b20daa5e6bce

      .section
        %p.pink-text
          LAIN es un Centro Médico que realiza tratamientos contra la obesidad. Nuestros profesionales
          en adelgazamiento, utilizando avanzados y exclusivos tratamientos para bajar de peso,
          trabajan de manera muy estrecha con el paciente, disminuyendo las posibilidades de fracaso.

  .container-fluid.aqua
    .container
      .section-us
        .section-segments
          = link_to opportunities_path do
            %p
              Oportunidades
            .oportunidad
            %p
              Lorem ipsum dolor sit amet consectateur nonummy.
        .section-segments
          = link_to metodo_path do
            %p
              Método
            .metodo
            %p
              Lorem ipsum dolor sit amet consectateur nonummy.
        .section-segments
          = link_to lain_path do
            %p
              Nuestra Empresa
            .empresa
            %p
              Lorem ipsum dolor sit amet consectateur nonummy.
        .section-segments
          = link_to '#' do
            %p
              LAIN para provincias
            .provincia
            %p
              Lorem ipsum dolor sit amet consectateur nonummy.

  .container-fluid
    .container.section-blog-fb
      .section-blog
        %h4.title-head
          Blog - Últimas publicaciones
        %ul
          - @articles.each do |article|
            %li.blog-data
              = link_to article do
                .blog-img
                  = image_tag article.image.listing, class: 'img-responsive'
                  = article.created_at.strftime('%m.%^b.%y')
                .blog-info
                  %p.title
                    = article.title
                  %p.description
                    = article.content
      .section-fb
        %h4.title-head
          Nuestros Seguidores

        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flain.adelgaza.peru%3Ffref%3Dts&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowTransparency="true"></iframe>

= render 'layouts/footer'
