= simple_form_for(@page) do |f|
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :title
    = f.input :content, as: "ckeditor"
    = f.input :imagen
    = image_tag @page.imagen.thumb if @page.imagen.present?

  .form-actions
    = f.button :submit
