#section-pages.container
  .title-pages
    %h3= page_title!('Lain')

  .section-pages
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + 'Page', new_page_path, class: 'btn btn-primary'
    .section-lain
    - @pages.each do |page|
      .section-lain-img
        = image_tag(image_path('ejemplo.jpg'))
      .section-lain-content
        = truncate(strip_tags(page.content), :length => 150, :separator => " ")

      = link_to 'crud.show', page, class: 'btn btn-default'
      - if current_admin
        = link_to 'crud.edit', edit_page_path(page), class: 'btn btn-info'
        = link_to 'crud.delete', page, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'
      %br
      = paginate @pages
      %br
