= simple_form_for @computest, html: { class: "form-horizontal"}  do |f|
  = render 'layouts/error_messages', :target => f.object

  .compu-form
    %p
      Ingresa tus datos y calcula tu índice de masa corporal
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :phone
    = f.input :gender, collection: ["Masculino", "Femenino"]
    = f.input :height
    = f.input :weight

  .form-actions
    = f.button :submit, 'Calcular', class: 'btn-submit'
