#section-computests.container
  .title-page
    %h3= page_title!('Computests')

  .section
    = link_to "Descargar en formato Excel", computests_path(format: "xls"), class: 'btn btn-primary'
    %br
    .table-responsive
      %table.table
        %tr
          %th Nombre
          %th Apellido
          %th Email
          %th Teléfono
          %th Género
          %th Altura
          %th Peso
          %th IMC
          %th Estado
          %th Peso Ideal
          %th
          %th

        - @computests.each do |computest|
          %tr
            %td= computest.first_name
            %td= computest.last_name
            %td= computest.email
            %td= computest.phone
            %td= computest.gender
            %td= computest.height
            %td= computest.weight
            %td= computest.bmi
            %td= computest.state
            %td= computest.ideal_weight
            %td= link_to I18n.t('crud.show'), computest, class: 'btn btn-default'
            - if current_admin
              %td= link_to I18n.t('crud.delete'), computest, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'



