#section-computests.container

  .title-page
    %h3= page_title!('Computest')
    .share
      %span
        Compartir
      = link_to 'http://www.facebook.com/sharer.php?u=' +  request.url, target: '_blank', class:'fb' do
        = image_tag(image_path('facebook-share.jpg'))  

      = link_to 'http://www.twitter.com/share.php?u=' +  request.url, target: '_blank' do
        = image_tag(image_path('twitter-share.jpg'))


  .section-computest
    .section-compu-img
      = image_tag(image_path('img-compu.png'), class: 'img-responsive')
    .section-compu-form
      = render 'form'

  .section
    .admin-controls
      =# link_to 'crud.back', 'javascript:history.back(-1)', class: 'btn btn-warning'


= render 'layouts/llama_ya'

= render 'layouts/categories'

= render 'layouts/footer'
