#section-computests.container

  .title-page
    %h3= page_title!('Computest Resultado')
    
  .section-computest
    .section-compu-img
      = image_tag(image_path('img-compu.png'), class: 'img-responsive')
    .section-results
      %p.nombre
        = 'Resultado para ' + @computest.first_name + ' ' + @computest.last_name
      %p.bmi
        Índice de masa corporal (IMC):
      %p.resultado
        = @computest.bmi.to_s
      %p.estado
        Tu estado es:
      %p.resultado
        = @computest.state
      %p.peso
        = @computest.ideal_weight

      = link_to 'Atrás', new_computest_path, class: 'btn-submit'


= render 'layouts/llama_ya'

= render 'layouts/categories'

= render 'layouts/footer'
