#section-computests.container

  .title-page
    %h3= page_title!('Computest Resultado')

  .container
    %p
      %b Nombre:
      = @computest.first_name
    %p
      %b Apellido:
      = @computest.last_name
    %p
      %b Email:
      = @computest.email
    %p
      %b Teléfono:
      = @computest.phone
    %p
      %b Género:
      = @computest.gender
    %p
      %b Peso:
      = @computest.height
    %p
      %b Altura:
      = @computest.weight
    %p
      %b Bmi:
      = @computest.bmi
    %p
      %b Estado:
      = @computest.state
    %p
      %b Peso Ideal:
      = @computest.ideal_weight
    -#%p
      %b Country:
      = @computest.country_id

    .section
      - if current_admin
        .admin-controls
          = link_to 'crud.edit', edit_computest_path(@computest), class: 'btn btn-info'
      = link_to 'Atrás', computests_path, class: 'btn btn-warning'


= render 'layouts/llama_ya'

= render 'layouts/categories'

= render 'layouts/footer'
