#{@subscriber.first_name} #{@subscriber.last_name} ha ingresado sus datos por la web de LAIN:

Puedes contactar a #{@subscriber.first_name} con los siguientes datos:

= @subscriber.first_name
= @subscriber.last_name
= @subscriber.email
= @subscriber.phone

LAIN #{@country_name}.
