:javascript
  $(document).ready(function(){
    $('.lightbox').lightbox();

    var $container = $('#testimonies').isotope({
      itemSelector: '.item',
      layoutMode: 'fitRows',
      masonry: {
        columnWidth: 160
      }
    });

    // filter functions
    var filterFns = {
      // show if number is greater than 50
      numberGreaterThan50: function() {
        var number = $(this).find('.number').text();
        return parseInt( number, 10 ) > 50;
      },
      // show if name ends with -ium
      ium: function() {
        var name = $(this).find('.name').text();
        return name.match( /ium$/ );
      }
    };

    // bind filter button click
    $('#filters').on( 'click', 'button', function() {
      var filterValue = $( this ).attr('data-filter');
      // use filterFn if matches value
      filterValue = filterFns[ filterValue ] || filterValue;
      $container.isotope({ filter: filterValue });
    });
  });

#section-testimonies.container
  .title-page
    %h3= page_title!('Testimonios')
    .links#filters
      %button{class: 'button', :'data-filter' => '.video'} Videos y Spots
      %button{class: 'button', :'data-filter' => '.antesydespues'} Antes y Después

  .section-testimonies
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + 'Testimonio', new_testimony_path, class: 'btn btn-primary'
      %br
    %br

  #testimonies
    - @testimonies.each do |testimony|
      - if testimony.testimony_type == 'video'
        .item.transition.video{:'data-category' => 'video'}
          = link_to testimony.video_link, class: 'lightbox' do
            .section-test-images{style: "background-image: url(#{testimony.image.listing}); float: left; width: 160px; height: 160px; background-repeat: no-repeat;"}
              .test-video.element-item.transition
                = image_tag(image_path('play-hover.png'))
          - if current_admin
            = link_to I18n.t('crud.edit'), edit_testimony_path(testimony), class: 'btn btn-info'
            = link_to I18n.t('crud.delete'), testimony, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'
      - else
        .item.transition.antesydespues{:'data-category' => 'antesydespues'}
          - if testimony.testimony_type == 'antesydespues'
            = link_to image_path(testimony.image.detail), class: 'lightbox' do
              .section-test-images{style: "background-image: url(#{testimony.image.listing}); float: left; width: 160px; height: 160px; background-repeat: no-repeat;"}
                .test-img.element-item.transition
                  = image_tag(image_path('camera-hover.png'))
          - if current_admin
            = link_to I18n.t('crud.edit'), edit_testimony_path(testimony), class: 'btn btn-info'
            = link_to I18n.t('crud.delete'), testimony, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'

    %br
    = paginate @testimonies
    %br

= render 'layouts/llama_ya'

= render 'layouts/categories'

= render 'layouts/footer_2'
