= simple_form_for(@subscriber) do |f|
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :first_name, label: false, placeholder: "Nombres"
    = f.input :last_name, label: false, placeholder: "Apellidos"
    = f.input :email, label: false, placeholder: "Correo electrónico"
    = f.input :phone, label: false, placeholder: "Teléfono"
    .privacy
      = content_tag :label, class: 'check_box' do
        = f.check_box :privacy_policy
        %p
          He leído y estoy de acuerdo con las
        
          %span
            = link_to page_path("politicas-de-privacidad"), target: "_blank", class: ''  do
              Políticas de Privacidad
          %span
            de LAIN

            %i.icon-external-link

      .form-actions
        = f.button :submit,'Enviar' , class: 'btn-green'
