= simple_form_for(@subscriber) do |f|
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :phone

  .form-actions
    = f.button :submit
