= simple_form_for(@product) do |f|
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :image
    = image_tag @product.image.thumb if @product.image.present?
    = f.input :video1
    = f.input :video2
    = f.input :video3

  .form-actions
    = f.button :submit
