#section-products.container
  .title-page
    %h3= page_title!('LAIN - Productos')

  .section-products
    - if current_admin
      .admin-control
        = link_to I18n.t('crud.new') + ' ' + 'Product', new_product_path, class: 'btn btn-primary'
    -# @products.each do |product|
    -#{product.image.listing)
    %a{href:'#'}
      .product-img{style: "background-image: url(" + image_path('prod1.png') + "); width: 160px; height: 170px; background-repeat: no-repeat;" }
        .product-txt
          Pastillas  
      =# product.name
      -#%td= product.video1
        %td= product.description
        %td= product.video2
        %td= product.video3
        %td= link_to 'crud.show', product, class: 'btn btn-default'
      - if current_admin
        = link_to 'crud.edit', edit_product_path(product), class: 'btn btn-info'
        = link_to 'crud.delete', product, :method => :delete, :data => { :confirm => 'crud.are-you-sure' }, class: 'btn btn-danger'

= render 'layouts/llama_ya' 

.container
  .section
    .section-images
      = image_tag(image_path('sec-img1.png'), class:'img-responsive')
      = image_tag(image_path('sec-img2.png'), class:'img-responsive')
      = image_tag(image_path('sec-img5.png'), class:'img-responsive')
      = image_tag(image_path('sec-img3.png'), class:'img-responsive')
      = image_tag(image_path('sec-img4.png'), class:'img-responsive')

