#section-products.container
  .section
    .section-title
      .title-page
        %h3= page_title!('Products - ' +  @product.name)

  .section-show
    .section-imagen
      = image_taga @product.image.detail
    
    .section-descrip
      = @product.description
      %button  type: 'submit', class:'btn-green'
    -#%p
      %b Videos:
      = @product.video1
      = @product.video2
      = @product.video3

  .section
    - if current_admin
      .admin-controls
        = link_to 'crud.edit', edit_product_path(@product), class: 'btn btn-info'
    = link_to 'crud.back', products_path, class: 'btn btn-warning'
