#section-products.container
  .title-page
    %h3= page_title!('Products - ' +  @product.name)

  .section-show
    .section-imagen
      = image_taga @product.image.detail

    .section-descrip
      = @product.description
      =link_to products_path, "Volver", class:'btn-green'
    -#%p
      %b Videos:
      = @product.video1
      = @product.video2
      = @product.video3

  .section
    - if current_admin
      .admin-controls
        = link_to 'crud.edit', edit_product_path(@product), class: 'btn btn-info'
    =# link_to 'crud.back', products_path, class: 'btn btn-warning'

= render 'layouts/llama_ya' 

.container
  .section
    .section-images
      = image_tag(image_path('sec-img1.png'), class:'img-responsive')
      = image_tag(image_path('sec-img2.png'), class:'img-responsive')
      = image_tag(image_path('sec-img5.png'), class:'img-responsive')
      = image_tag(image_path('sec-img3.png'), class:'img-responsive')
      = image_tag(image_path('sec-img4.png'), class:'img-responsive')

= render 'layouts/footer'

