.container
  .section
    .section-images
      %a
        = image_tag(image_path('sec-img1.png'), class:'img-responsive')
      %a
        = image_tag(image_path('sec-img2.png'), class:'img-responsive')
      %a
        = image_tag(image_path('sec-img5.png'), class:'img-responsive')
      %a
        = image_tag(image_path('sec-img3.png'), class:'img-responsive')
      %a
        = image_tag(image_path('sec-img4.png'), class:'img-responsive')

