%footer#footer{:role => "footer"}
  .container-fluid.aqua
    .container
      .section-test-sus
        .section-testi
          %h4.title-head
            Testimonios

          %ul
            - @last_testimonies.each do |testimony|
              = link_to testimonies_path, class:'lightbox' do
                %li.test-section
                  .test-img
                    = image_tag testimony.image.thumb, class: 'img-circle img-responsive'
                  .test-info
                    .title
                      = testimony.name
                    .description
                      = truncate(testimony.content, lenght: 120)

        .section-suscribete
          %h4.title-head
            Contacto

            .img
              =image_tag(image_path('pink-mail.png'))
          %p.txt
            Ingresa tus datos y entérate primero de nuestras ofertas, lanzamiento de productos y promociones exclusivas.

          = render :partial => "subscribers/form"

  .container-fluid
    .container
      .footer-titles
        %p.txt-footer
          Copyright ©2014. Lain Internacional, todos los derechos reservados.
        %p.txt-footer.center
          Políticas de Privacidad
        %p.txt-footer.right
          Desarrollo web: Kosmyka e| Diseño web: La Post-A
