%footer#footer{:role => "footer"}
  .container-fluid.aqua
    .container.section-blog-fb
      .section-blog
        %h4.title-head
          Blog - Últimas publicaciones
        %ul
          - @articles.each do |article|
            %li.blog-data
              = link_to article do
                .blog-img
                  = image_tag article.image.listing, class: 'img-responsive'
                .blog-info
                  %p.title
                    = article.title
                  %p.description
                    = article.content
      
      .section-suscribete
        %h4.title-head
          Suscríbete

          .img
            =image_tag(image_path('pink-mail.png'))
        %p.txt
          Ingresa tus datos y entérate primero de nuestras ofertas, lanzamiento de productos y promociones exclusivas.

        = render :partial => "subscribers/form"

  .container-fluid
    .container
      .footer-titles
        %p.txt-footer
          Copyright ©2014. Lain Internacional, todos los derechos reservados.
        %p.txt-footer.center
          Políticas de Privacidad
        %p.txt-footer.right
          Desarrollo web: Kosmyka e| Diseño web: La Post-A
