%li= link_to 'Inicio', home_path
%li= link_to 'LAIN', pages_path
%li= link_to 'Método', pages_path
%li= link_to 'Testimonios', testimonies_path
%li= link_to 'Productos', products_path
%li= link_to 'Sucursales', offices_path
%li= link_to 'Blog', articles_path
%li= link_to 'Oportunidades', opportunities_path

