%li= link_to 'Inicio', root_path
%li= link_to 'LAIN'
%li= link_to 'Método'
%li= link_to 'Testimonios'
%li= link_to 'Productos'
%li= link_to 'Sucursales'
%li= link_to 'Blog'
%li= link_to 'Oportunidades'

