%li= link_to 'Inicio', home_path, class: menu_status('inicio')
%li= link_to 'LAIN', lain_path, class: menu_status('lain')
%li= link_to 'Método', metodo_path, class: menu_status('metodo')
%li= link_to 'Testimonios', testimonies_path, class: menu_status('testimonies')
%li= link_to 'Productos', products_path, class: menu_status('products')
%li= link_to 'Sucursales', offices_path, class: menu_status('offices')
%li= link_to 'Blog', articles_path, class: menu_status('articles')
%li= link_to 'Oportunidades', opportunities_path, class: menu_status('oportunities')
